html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
}

*,
::after,
::before{
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}

a {
    color: #000;
}

/* header --------------------------------------------------------------------------------------------*/

.header {
    background-color: #f7f8f6;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #f7f8f6;
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #fefefe;

}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 3px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}


/*--Hero section 1 --------------------------------------------------------------------------------------------->*/

.hero-section1{

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 53.5em;
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #DEF0D8, #FAFAFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #DEF0D8, #FAFAFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.PrviDio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    order: 1;
    padding-top: 8em;
}

.PrviDio h1{
    font-size: 6em;
    color: #383833;
    padding-bottom: 0.5em;
    font-weight: bold;
}
.PrviDio p{
    font-size: 1.5em;
    color: #383833;
    padding-bottom: 2.5em;
    letter-spacing: 0.075em; 
    font-weight: bold;
    
}
.btn-hero-section1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F19A33;
    font-size: 2.5em;
    width: 10em;
    height: 2em;
    color: #FFF;
    border-radius: 0.7em;
    border: none;
    outline: none;
    transition: 0.5s ease;
    cursor: pointer;
}

.PrviDio a {
    text-decoration: none;
}


/*Strelica je ispod kod dugmadi sto je */
span {
    content: "\2192";
    padding-left: 0.3em;
  }

.btn-hero-section1:hover{
    transform: scale(1.1);
}
.paprika{
    position: relative;
    /* left: 2em; */
    top: 3em;
    right: 25.5em;
}
/**/
.DrugiDio{
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    width: 50%;
    height: 100%;
    flex-direction: column;
 
    
}
.DrugiDio img{
    width: 100%;
    height: auto;
}


/*--Hero section 1 --------------------------------------------------------------------------------------------->*/






/*--Hero section 2 --------------------------------------------------------------------------------------------->*/




.hero-section2{
    width: 100%;
    height: 53.5em;
    background-color: #FAFAFA;

}
.hero-section2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 53.5em;
    background: #FAFAFA;  /* fallback for old browsers */
  
}
.PrviDioDva{

    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.DrugiDioDva{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    order: 2;
}



.DrugiDioDvaTekstovi{
    letter-spacing: 0.05em;
    font-weight: bold;
    
}

.DrugiDioDva .p1{
    color: #F19A33;
    font-size: 3em;
    padding-bottom: 0.5em ;
   
}

.DrugiDioDva h1{
    color:#383833;
    font-size: 4.5em;
    padding-bottom: 0.5em;
}

.DrugiDioDva .p2{
color: #383833;
font-size: 1.5em;

}

.btn-hero-section2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#387546;
    font-size: 2em;
    width: 11em;
    height: 2em;
    color: #FFF;
    border-radius: 0.7em;
    border: none;
    outline: none;
    transition: 0.5s ease;
    margin-top: 1em;
    cursor: pointer;
}

.btn-hero-section2:hover{
    transform: scale(1.1);
}

.DrugiDioDva a{
    text-decoration: none;
}



/*--Hero section 2 --------------------------------------------------------------------------------------------->*/







/*--Hero section 3 --------------------------------------------------------------------------------------------->*/

.hero-section3{

    /* display: flex;
    justify-content: center; */
    width: 100%;
    height: 65.5em;
    background: #FAFAFA;  /* fallback for old browsers */
    
    
}
.HeroSection3Tekstovi {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.05em;
}

.h3p1{
    text-align: center;
    justify-content: center;
    padding-top: 3em;
    color: #F19A33;
    font-size: 2em;
    padding-bottom: 0.5em ;
}

.hero-section3 h1{
    text-align: center;
    color:#383833;
    font-size: 3.5em;
}

.h3p2{
    text-align: center;
    color: #383833;
    font-size: 1.2em;
    padding: 1em 0 3em 0;

}

.card{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 30.5em;
}

.card1{ 
    justify-content: center;
    align-self: center;
    /* border: 1px solid grey; */
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 1em ;
    transition: ease 0.3s;
    cursor: pointer;

}
.card1:hover{
        transform: scale(1.1);   
}
.card1 img{
    border-radius: 1em 1em 0 0 ;
}
.card1Text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 1em 0 1em;
}
.card1 h1{
    display: flex;
    font-size: 1.7em;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5em;
    
}
.card1P{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    padding-bottom: 0.5em;
   

}
.card1P2 p{
    
    padding-left: 1em;
    font-weight: normal;
    padding-bottom: 1.5em;
}


.card2{ 
    justify-content: center;
    align-self: center;
    /* border: 1px solid grey; */
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 1em ;
    transition: ease 0.3s;
    cursor: pointer;

}
.card2:hover{
        transform: scale(1.1);   
}
.card2 img{
    border-radius: 1em 1em 0 0  ;
}
.card2Text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 1em 0 1em;
}
.card2 h1{
    display: flex;
    font-size: 1.7em;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5em;
    
}
.card2P{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    padding-bottom: 0.5em;

}
.card2P2 p{
    padding-left: 1em;
    font-weight: normal;
    padding-bottom: 1.5em;
}


.card3{ 
    justify-content: center;
    align-self: center;
    /* border: 1px solid grey; */
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 1em ;
    transition: ease 0.3s;
    cursor: pointer;

}
.card3:hover{
        transform: scale(1.1);   
}
.card3 img{
    border-radius: 1em 1em 0 0  ;
}
.card3Text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 1em 0 1em;
}
.card3 h1{
    display: flex;
    font-size: 1.7em;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5em;
    
}
.card3P{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    padding-bottom: 0.5em;
   

}
.card3P3 p{
    padding-left: 1em;
    font-weight: normal;
    padding-bottom: 1.5em;
}




/*--Hero section 3 --------------------------------------------------------------------------------------------->*/




/*--Hero section 4 --------------------------------------------------------------------------------------------->*/



.hero-section4{

    width: 100%;
    height: 70em;
    background: #FAFAFA;  /* fallback for old browsers */
    
   
}
.hs3h h1{
    text-align: center;
    color:#383833;
    font-size: 3.5em;
    margin-bottom: 1em;
}

.hs4Flex{

    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.hs4Flex2{

    flex-direction: row;
    justify-content: space-around;
    width: 100%;

}

.kartice{
    transition: ease 0.3s;
}
.kartice img{

    border-radius: 3em;
    width: 32em;
    
}


/*Cardd*/


.cardd{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 30.5em;
}




/*--Hero section 4 --------------------------------------------------------------------------------------------->*/




/*--Hero section 5 --------------------------------------------------------------------------------------------->*/


.hero-section5{
    width: 100%;
    height: 25.5em;
    background: #FAFAFA;  /* fallback for old browsers */

   
}

.cardddd{
    display: flex;
    justify-content: space-around;
    height: 20em;
    flex-direction: row;
    padding-top: 10em;


}

.cardHS5{
    justify-content: center;
    align-self: center;
    /* border: 1px solid grey; */
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 20em ;
    width: 30em;
    transition: ease 0.3s;
    cursor: pointer;
}
.cardHS5:hover{
    transform: scale(1.1);

}

.slika-hs-5{
    display: flex;
    justify-content: center;
    padding: 2em 0 2em 0;
    border-radius: 20em;
}

.cardHS5Text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardHS5P{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0 2em 0;
}

/*--Hero section 5 --------------------------------------------------------------------------------------------->*/



/*FOOTER---------------------------------------------------------------------------------------------------------------------------*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fafafa;

}

.logoFooter{
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
    top: 10em;
}
footer img{
    
    background-color: #fafafa;
    width: 11em;
    margin-bottom: 1em;
}
.pozadinaSvgFooter{
    background-color: #fafafa;

}





/*FOOTER---------------------------------------------------------------------------------------------------------------------------*/






/*MEDIA QUERIES -----------------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 1200px) /*and (min-height: 1336px) */{




    html, body {
        max-width: 100%;
        overflow-x: hidden;
        background-color: #FAFAFA;

    }
    /*--Hero section 1 --------------------------------------------------------------------------------------------->*/

    .hero-section1{
        width: 100em;
    }
    .PrviDio {
        padding-left: 3em;

    }

    .paprika{

        top: 4em !important;
        right: 16.5em !important;
    }

    /*--Hero section 1 --------------------------------------------------------------------------------------------->*/



    /*--Hero section 2 --------------------------------------------------------------------------------------------->*/

    .DrugiDioDva{
        padding-left: 3em;
    }
    .DrugiDio img{
        width: 100%;
        height: auto;
    }

    .DrugiDio::before {
        display: none;
    }
    .krug{
        display: none;
    }

    .PrviDioDva img{
        width: 100%;
        height: auto;

    }

    /*--Hero section 2 --------------------------------------------------------------------------------------------->*/


    /*--Hero section 3 --------------------------------------------------------------------------------------------->*/

    .hero-section3{
        height: 134.5em;

    }

    .h3p2{
        font-size: 1.4em
    }

    .card{
        flex-direction: column;
        padding-top: 58em;
    }

    .card1{
        margin-bottom: 4em;
        width: 27em;
    }

    .card1 img{
        width: 27em;
    }

    .card1 h1{
        font-size: 2.7rem;
    }
    .card1P2{
        font-size: 1.23rem;
    }
    .card1P{
        font-size: 2.3em;
    }


    .card2{
        margin-bottom: 4em;
        width: 27em;
    }

    .card2 img{
        width: 27em;
    }

    .card2 h1{
        font-size: 2.7rem;
    }
    .card2P2{
        font-size: 1.23rem;
    }
    .card2P{
        font-size: 2.3em;
    }


    .card3{
        margin-bottom: 4em;
        width: 27em;
    }

    .card3 img{
        width: 27em;
    }

    .card3h1{
        font-size: 2.7rem;
    }
    .card3P2{
        font-size: 1.23rem;
    }
    .card3P{
        font-size: 2.3em;
    }

    /*--Hero section 3 --------------------------------------------------------------------------------------------->*/

    /*--Hero section 4 --------------------------------------------------------------------------------------------->*/


    .hero-section4{
        margin-top: 5em;
        height: 177em;

    }

    .kartice{
        margin: 3em;
    }

    .cardd {
        display: flex;
        flex-direction: column;
        height: 81em;
        justify-content: center;
    }

    /*--Hero section 4 --------------------------------------------------------------------------------------------->*/


    /*--Hero section 5 --------------------------------------------------------------------------------------------->*/


    .hero-section5{

        height: 61em;
        display: flex;
        justify-content: center;
        align-items: center;

}
    .cardddd{

        flex-direction: column;

    }

    .cardHS5{
        transform: scale(1.2);
        margin-bottom: 7em;
    }

    .cardHS5:hover {
        transform: scale(1.3);

    }

    /*--Hero section 5 --------------------------------------------------------------------------------------------->*/

    /*--FOOTER --------------------------------------------------------------------------------------------->*/

    footer img{
        margin-bottom: 6em;
}

    /*--FOOTER --------------------------------------------------------------------------------------------->*/


}


@media (min-width: 2000px ) /*and (min-height: 1336px) */ {


}


@media (max-width: 1587px ) /*and (min-height: 1336px) */ {

    .hero-section4 {
        height: 177em;

    }

    .kartice {
        margin: 3em;
    }

    .cardd {
        display: flex;
        flex-direction: column;
        height: 81em;
        justify-content: center;
    }
}

/* MEDIA QUERIE ZA HAMBURGER MENU*/

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}


@media (max-width: 360px ) /*and (min-height: 1336px) */ {


}


/*MEDIA QUERIES -----------------------------------------------------------------------------------------------------------------------*/










